{% extends "base.html" %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Creacion de Empleados</h1>
</div>

<div class="card border-left-primary shadow h-100 py-2">
    <div class="col-xl-12 col-md-6 mb-4">
        <form method="POST" action = "/crear"> 
            {{ form.csrf_token }}
              
            <fieldset class="border p-2 rounded">
            {{ form.csrf_token }}

                <legend class="w-auto"><small>Información personal</small></legend>
                <div class="row">

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj1">
                            <label for="doc_no">Doc. No</label>
                            {{form.numDocId(class_="form-control", min=999999, placeholder="Escriba aquí su número de documento") }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Nombre(s)</label>
                            {{form.nombre(class_="form-control",minlength=2, maxlength=25) }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Apellidos</label>
                            {{form.apellidos(class_="form-control",minlength=5, maxlength=50) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Dirección</label>
                            {{form.direccion(class_="form-control",minlength=8, maxlength=50) }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_inicio">Fecha Nac.</label>
                            {{form.fechaNac(class_="form-control",minlength=8) }}

                        </div>
                    </div>

                    
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            {{form.email(class_="form-control") }}
                        </div>
                    </div>


                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label>Genero</label>
                            {{form.genero(class_="form-control") }}
                        </div>
                    </div>


                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label>Rol</label>
                            {{form.rol(class_="form-control") }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Usuario</label>
                            {{form.usuario(class_="form-control",minlength=4, maxlength=15) }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Contraseña</label>
                            {{form.clave(class_="form-control",minlength=8, maxlength=15) }}
                        </div>
                    </div>

                   

                   

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_ingreso">Fecha Ingreso</label>
                            {{form.fechaIngreso(class_="form-control",minlength=8) }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label for="contrato">Tipo de contrato</label>
                            {{form.tipoContrato(class_="form-control") }}
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_salida">Fecha salida</label>
                            {{form.fechaSalida(class_="form-control",minlength=8) }}
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label for="cargo">Cargo</label>
                            {{form.cargo(class_="form-control") }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="salario">Salario</label>
                            {{form.salario(class_="form-control", min=850000) }}                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 ">
                        <div class="form-group">
                          <button type="submit" class="btn btn-success">Guardar</button>
                          <button class="btn btn-danger" type="reset">Cancelar</button>
                       </div>
                </div>
            </fieldset>
            
            
        </form>
    </div>
</div>

{% endblock %}