{% extends "base.html" %}

{% block content%}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Editar Empleado</h1>
</div>

<div class="card border-left-primary shadow h-100 py-2">
    <div class="col-lg-12 col-xl-12 col-md-12 mb-4">
        <form action="/editar" method="POST">
            <fieldset class="border p-2 rounded">
                <legend class="w-auto"><small>Busqueda por id</small></legend>
                <div class="input-group">

                    <input type="text" class="form-control bg-light border-0 small col-xl-2 col-md-6 mb-12"
                        placeholder="Search for id..." aria-label="Search" aria-describedby="basic-addon2" name="idEmp">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>

        <form action="/actualizarEmp" method="POST">

            <fieldset class="border p-2 rounded">
                <legend class="w-auto"><small>Información personal</small></legend>
                <div class="row">

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Nombre(s)</label>
                            <input type="text" name="nombre" id="txtvalue" class="form-control" value="{{ eNombre }}">
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Apellidos</label>
                            <input type="text" name="apellidos" id="" class="form-control"
                                value=" {{eApellido}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Dirección</label>
                            <input type="text" name="direccion" id="txtvalue" class="form-control"
                                value="{{eDireccion}}">
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_inicio">Fecha Nac.</label>
                            <input type="date" name="fecha_nac" class="form-control" placeholder="Stock..."
                                id="fechaInicialAuto" value="{{ fNac }}">
                        </div>
                    </div>


                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="email" name="correo" id="txtvalue" class="form-control" value="{{ eCorreo }}">
                        </div>
                    </div>


                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label>Genero</label>
                            <select name="genero" class="form-control" id="" onchange="pagolselect()">
                                <option id="" value="{{ eGenero }}">{{ eGenero }}</option>
                                {% if eGenero== 'Masculino' %}
                                <option value=" 'Femenino' ">Femenino </option>
                                {% elif  eGenero== 'Femenino' %}
                                <option value="'Masculino'">Masculino</option>
                                {% else %}
                                         {% for i in gen %}
                                            <option value="{{ i }}">{{ i }}</option>
                                         {% endfor %}
                                {% endif %}

                            </select>
                        </div>
                    </div>


                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label>Rol</label>
                            <select name="rol" class="form-control" id="rol" onchange="pagolselect()">
                                <option id="porDefecto" value="{{ uRol }}">{{ nomRol }}</option>
                                {% for i , v in roles %}
                                  {% if v != nomRol %}
                                     <option value="{{ i+1 }}">{{ v }}</option>
                                  {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Usuario</label>
                            <input type="text" name="usuario" id="txtvalue" class="form-control" value="{{ nomUsu  }}">
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="apartamento">Password</label>
                            <input type="text" name="clave" id="txtvalue" class="form-control"
                                value="{{ claveUsu  }}">
                        </div>
                    </div>

                    <div class="col-lg-0 col-sm-0 col-md-0 col-xs-0">
                        <div class="form-group">
                           
                            <input type="hidden" name="doc" id="txtvalue" class="form-control"
                                value="{{ docNum  }}">
                        </div>
                    </div>
                    <div class="col-lg-0 col-sm-0 col-md-0 col-xs-0">
                        <div class="form-group">
                            
                            <input type="hidden" name="rolOld" id="txtvalue" class="form-control"
                                value="{{ uRol }}">
                        </div>
                    </div>

                    <div class="col-lg-0 col-sm-0 col-md-0 col-xs-0">
                        <div class="form-group">
                            
                            <input type="hidden" name="cargOld" id="txtvalue" class="form-control"
                                value="{{ cargoId }}">
                        </div>
                    </div>

                    <div class="col-lg-0 col-sm-0 col-md-0 col-xs-0">
                        <div class="form-group">
                            <input type="hidden" name="claveOld" id="txtvalue" class="form-control"
                                value="{{ claveUsu  }}">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="border p-2 rounded">
                <legend class="w-auto"><small>Información del contrato</small></legend>
                <div class="row">

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_ingreso">Fecha Ingreso</label>
                            <input type="date" name="fecha_ingreso" class="form-control" placeholder="Stock..."
                              id="fechaInicialAuto" value="{{ fechaIngreso }}">

                            </input>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label for="contrato">Tipo de contrato</label>
                            <select name="tipo_contrato" class="form-control" id="contrato" onchange="pagolselect()">
                                <option  id="porDefecto" value=" {{ cTipoContrato }}">{{ cTipoContrato }}
                                </option>
                                {% for con in p %}
                                  {% if cTipoContrato != con %}
                                   <option value="{{ con }}">{{ con }}</option>
                                  {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label for="contrato">Estado</label>
                            <select name="estado" class="form-control" id="contrato" onchange="pagolselect()">
                                <option id="porDefecto" value="{{ cEstado }}">{{ cEstado }}</option>
                                {% if cEstado == 'Inactivo' %}
                                  <option value="{{ 'Activo' }}"> Activo</option>
                                {% elif cEstado == 'Activo' %}
                                   <option value="{{ 'Inactivo' }}"> Inactivo</option>
                                {% else %}
                                      {% for e in est %}
                                          <option value="{{ e }}">{{ e }}</option>
                                       {% endfor %}
                                {% endif %}



                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_salida">Fecha salida</label>
                            <input type="date" name="{{ fechaSalida }}" class="form-control" id="fecha_salida"
                                value=" {{ fechaSalida }}">
                        </div>
                    </div>



                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label for="cargo">Cargo</label>
                            <select name="cargo" class="form-control" id="contrato" onchange="pagolselect()">
                                <option value="{{ cargoId }} " id="porDefecto">{{ cargoNom }}</option>
                                {% for i in cargos1 %}
                                    {% if i.nombre != cNombre %}
                                       <option value="{{ i.id }}">{{ i.nombre }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="salario">Salario</label>
                            <input type="text" name="salario" id="salario" class="form-control" value="{{ cSalario }}">
                        </div>
                    </div>



                </div>

            </fieldset>
            <br>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 ">
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Editar</button>
                    <button class="btn btn-warning" type="">limpiar</button>
                    <button class="btn btn-danger" type="reset">Cancelar</button>
                </div>
            </div>

        </form>


    </div>
</div>

{% endblock %}