{% extends "base.html" %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Editar Empleado</h1>
</div>
<div class="card border-left-primary shadow h-100 py-2">
    <div class="col-xl-12 col-md-6 mb-4">
        <form>
            <fieldset class="border p-2 rounded">
                <legend class="w-auto"><small>Busqueda por id</small></legend>
                <div class="input-group">

                    <input type="text" class="form-control bg-light border-0 small col-xl-2 col-md-6 mb-12"
                        placeholder="Search for id..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </fieldset>

            <fieldset class="border p-2 rounded">
                <legend class="w-auto"><small>Información personal</small></legend>
                <div class="row">

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Nombre(s)</label>
                            <input type="text" name="nombre" id="txtvalue" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="apartamento">Apellidos</label>
                            <input type="text" name="apellidos" id="txtvalue" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Dirección</label>
                            <input type="text" name="nombres" id="txtvalue" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_inicio">Fecha Nac.</label>
                            <input type="date" name="fecha_nac" required value="fecha_nac" class="form-control"
                                placeholder="Stock..." id="fechaInicialAuto" onchange="fechaAuto()" required>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj1">
                            <label for="doc_no">Doc. No</label>
                            <input required type="text" value="" name="doc_no" class="form-control" id="pagoInput"
                                placeholder="Ingrese el numero del documento....." readonly=»readonly»>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="email" name="nombres" id="txtvalue" class="form-control" disabled>
                        </div>
                    </div>


                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label>Genero</label>
                            <select name="genero" class="form-control" id="genero" onchange="pagolselect()">
                                <option value="" id="porDefecto">---Seleccione su genero---</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                                <option value="Completo">Otro</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label>Rol</label>
                            <select name="rol" class="form-control" id="rol" onchange="pagolselect()">
                                <option value="" id="porDefecto">---Seleccione su rol---</option>
                                <option value="super_administrador">Super Administrador"</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Usuario Final">Usuario Final</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Usuario</label>
                            <input type="text" name="nombres" id="txtvalue" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="apartamento">Password</label>
                            <input type="text" name="apellidos" id="txtvalue" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="apartamento">Confirme su password</label>
                            <input type="text" name="apellidos" id="txtvalue" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="imagen">Foto</label>
                            <input type="file" name="imagen" class="form-control" accept="image/*">
                        </div>
                    </div>

                </div>
            </fieldset>
            <fieldset class="border p-2 rounded">
                <legend class="w-auto"><small>Información del contrato</small></legend>
                <div class="row">

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_ingreso">Fecha Ingreso</label>
                            <input type="date" name="fecha_ingreso" required value="fecha_nac" class="form-control"
                                id="fecha_ingreso" onchange="fechaAuto()" required>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label for="contrato">Tipo de contrato</label>
                            <select name="genero" class="form-control" id="contrato" onchange="pagolselect()">
                                <option value="" id="porDefecto">---Seleccione su tipo de contrato---</option>
                                <option value="indefinido">Indefinido</option>
                                <option value="Temporal">Temporal</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha_salida">Fecha salida</label>
                            <input type="date" name="fecha_sal" required value="fecha_sal" class="form-control"
                                id="fecha_salida" onchange="fechaAuto()" required>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label for="cargo">Cargo</label>
                            <select name="cargo" class="form-control" id="contrato" onchange="pagolselect()">
                                <option value="" id="porDefecto">---Seleccione su cargo---</option>
                                <option value="">Gerente de ventas</option>
                                <option value="">Jefe de compras</option>
                                <option value="">Otro</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="salario">Salario</label>
                            <input type="text" name="salario" id="salario" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label for="cargo">Dependencia</label>
                            <select name="cargo" class="form-control" id="contrato" onchange="pagolselect()">
                                <option value="" id="porDefecto">---Seleccione dependencia---</option>
                                <option value="">Ventas</option>
                                <option value="">Sistemas</option>
                                <option value="">Talento humano</option>
                            </select>
                        </div>
                    </div>

                </div>

            </fieldset>
            <br>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 ">
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Editar</button>
                    <button class="btn btn-warning" type="submit">limpiar</button>
                    <button class="btn btn-danger" type="reset">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}