       {% extends "base.html" %}

       {% block content %}

                   <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h4 class="h3 mb-0 ml-3 text-gray-800">Retroalimentación</h4>
                    </div>
                
                    <div class="card border-left-success shadow h-100 py-2">
                        <h6 class="h3 mb-0 text-gray-800">Bienvenida Valerie</h6>
                
                        <div class="row">
                
                            <div class="col-xl-3 col-md-6 mb-4">
                
                                <div class="card-body">
                                    <fieldset class="border p-2 rounded">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Calificación</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-700">5/5</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-edit fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card-body">
                                    <fieldset class="border p-2 rounded">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Mes</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 ">Septiembre</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                
                            <div class="col-xl-6 col-md-6 mb-4">
                                <div class="card-body">
                                    <fieldset class="border p-2 rounded">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Actualizado: 1 de
                                                    septiembre de 2021</div>
                                                <div class="text-s font-weight-bold text-success text-gray-800">Felicitaciones tu
                                                    desempeño ha sido excelente, has cumplido con la totalidad de las metas propuestas
                                                    por parte de la empresa. Esperemos que sigas así </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                
                
                
                        </div>
                        <div class="row">
                            <div class="card-body">
                                <table class="table table-sm able table-sm table-bordered table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Mes</th>
                                            <th scope="col">Calificación</th>
                                            <th scope="col">Detalles</th>
                                            <th scope="col">Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Septiembre de 2021</td>
                                            <td>5/5</td>
                                            <td><a href="">Ver detalles</a></td>
                                            <td>01/09/21</td>
                                        </tr>
                                        <tr>
                                            <td>Agosto de 2021</td>
                                            <td>4/5</td>
                                            <td><a href="">Ver detalles</a></td>
                                            <td>01/08/21</td>
                                        </tr>
                                        <tr>
                                            <td>Julio de 2021</td>
                                            <td>3/5</td>
                                            <td><a href="">Ver detalles</a></td>
                                            <td>01/07/21</td>
                                        </tr>
                                        <tr>
                                            <td>Junio de 2021</td>
                                            <td>3/5</td>
                                            <td><a href="">Ver detalles</a></td>
                                            <td>01/06/21</td>
                                        </tr>
                                        <tr>
                                            <td>Mayo de 2021</td>
                                            <td>3/5</td>
                                            <td><a href="">Ver detalles</a></td>
                                            <td>01/05/21</td>
                                        </tr>
                                        <tr>
                                            <td>Abril de 2021</td>
                                            <td>3/5</td>
                                            <td><a href="">Ver detalles</a></td>
                                            <td>01/04/21</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav aria-label="...">
                                    <ul class="pagination">
                                      <li class="page-item">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                      </li>
                                      <li class="page-item  active"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item disabled">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                      </li>
                                    </ul>
                                  </nav>
                            </div>
                        </div>
                    </div>
                
     {% endblock %}          