{% extends "base.html" %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Creación de Roles</h1>
</div>

<div class="card border-left-primary shadow h-100 py-2">
    <div class="col-xl-12 col-md-6 mb-4">
        <form method="POST" action="/rol">
            {{ form.csrf_token }}
            <fieldset class="border p-2 rounded">
                <legend class="w-auto"><small>Rol</small></legend>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group" id="obj2">
                            <label>Rol</label>
                            {{ form.nombre( class_="form-control") }}
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 ">
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-success">Guardar</button>
                      <button type="reset" class="btn btn-warning">Limpiar</button>
                    </div>
            </div>
            </fieldset>
            <br>
            
        </form>
    </div>
</div>

{% endblock %}